.paragrafo1{
    background-color: #F5F5F5;
    margin: 40px;
    padding: 20px;
    text-align: center;
}
.paragrafo2{
    background-color: #F0CCE2;
    margin: 40px;
    padding: 20px;
    text-align: center;
}
